@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

:root {
  --brand: #eb8015;
  --black: #000000;
  --paper: #f2f0eb;
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Playwrite DE Grund", system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  background: var(--paper);
  color: var(--black);
}

a {
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}
